.advice {
    width: 90%;
    @include center;
    margin-top: 30vh;
    border-radius: 10px;
    text-align: center;

    &__heading {
        margin: 1.8rem;
        padding-top: 2.5rem;
        letter-spacing: 0.2em;
        font-size: 0.8rem;
        font-weight: 600;
    }
    
    &__quote {
        width: 90%;
        @include center;
        margin-bottom: 1rem;
    }

    &__divider {
        color: $quote-color;
        margin-bottom: 4rem;
    }

    &__dice__container {
        width: 4rem;
        height: 4rem;
        display: flex;
        @include center;
        position: absolute;
        top: 30.3rem;
        left: 43.5%;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    &__dice__icon {
        width: 1.7rem;
        height: 1.7rem;
    }
}