.advice {
    width: 90%;
    max-width: 408px;
    @include center;
    margin-top: 22vh;
    border-radius: 10px;
    text-align: center;

    &__heading {
        margin: 1.8rem;
        padding-top: 3rem;
        letter-spacing: 0.3em;
        font-size: 0.8rem;
        font-weight: 600;
    }
    
    &__quote {
        width: 90%;
        @include center;
        margin-bottom: 1.5rem;
    }

    &__divider {
        color: $quote-color;
    }

    &__dice__container {
        width: 4rem;
        height: 4rem;
        display: flex;
        @include center;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transform: translateY(2rem);
    }

    &__dice__icon {
        width: 1.7rem;
        height: 1.7rem;
    }
}