// Primary
$quote-color: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Neutral
$card-bg: #313A49;
$main-bg: #202632;

// Typography
$quote-font-size: 28px;

// Center Mixin
@mixin center {
    margin-left: auto;
    margin-right: auto;
}

// Responsive Mixin
@mixin media-lg {
    @media only screen and (min-width: 1000px) {
        @content;
    }
}