@include media-lg {
	.advice {
		width: 38%;
		max-width: none;

		&__dice__container {
			&:hover {
				cursor: pointer;
				box-shadow: 0 0 6px 3px #fff,
					/* inner white */ 0 0 10px 6px hsl(150, 100%, 66%),
					/* middle magenta */ 0 0 14px 9px #0ff; /* outer cyan */
				transition: 0.2s ease-in-out;

				.advice__dice__icon {
					transform: rotate(540deg) scale(1.1);
					transition: 0.2s ease-in-out;
				}
			}
		}
	}
}
